<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-services"><%= link_to "Services", casein_services_path %></li>
<li id="tab-trainers"><%= link_to "Trainers", casein_trainers_path %></li>