<footer>
	<div class = "container">
		<div class = "row">
			<div class="col-md-8">
<!-- 				<ol>
				  <li>100 Tras Street, #14-03, Amara Corporate Tower, Singapore 078027</li>
				  <li>
				  	
				  </li>
				  <li></li>
				  <li>Powered by Ribbet Interactive</li>
				</ol> -->

			</div>

			<div class="col-md-4">
				
			</div>
		</div>
	</div>
</footer>